<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><title>CTC Calculation Status</title></head>

<body>
<center>
    <h1>CTC Calculation Status:</h1>
<h2>Basic Calculation Satus:</h2>
<p>Value : <span th:text="${ctcData}">Our App</span></p>

<h2>Bonus Calculation Satus:</h2>
<p>Value : <span th:text="${bonus}">Our App</span></p>

<h2>Employer_PF Calculation Satus:</h2>
<p>Value : <span th:text="${employerPF}">Our App</span></p>

<h2>Employer_Esi Calculation Satus:</h2>
<p>Value : <span th:text="${employerESI}">Our App</span></p>

<h2>Employee_PF Calculation Satus:</h2>

<p>Value : <span th:text="${employeePF}">Our App</span></p>

<h2>Employee_Esi Calculation Satus:</h2>
<p>Value : <span th:text="${employeeESI}">Our App</span></p>

<h2>Gratutity Calculation Satus:</h2>
<p>Value : <span th:text="${gratutity}">Our App</span></p>

<h2>Gross_And_Deduction Calculation Satus:</h2>
<p>Value : <span th:text="${grossAndDeduction}">Our App</span></p>

<h2>Gross Calculation Satus:</h2>
<p>Value : <span th:text="${gross}">Our App</span></p>

<h2>Difference Calculation Satus:</h2>
<p>Value : <span th:text="${diffrenec}">Our App</span></p>

<h2>HRA Calculation Satus:</h2>
<p>Value : <span th:text="${hra}">Our App</span></p>

<h2>Net_Pay Calculation Satus:</h2>
<p>Value : <span th:text="${netPay}">Our App</span></p>

<h2>Net_Take_Home Calculation Satus:</h2>
<p>Value : <span th:text="${netTakeHome}">Our App</span></p>

<h2>PT_Gross Calculation Satus:</h2>
<p>Value : <span th:text="${ptGross}">Our App</span></p>
</center>
</body>
</html>