<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head><title>Home Page</title></head>
<body>

<center>
    <h2>Enter CTC & Location</h2>
<form  method="Post" action="FinalCalulation">

    <tr><td>Employee CTC :</td>
        <td><label>
            <input type="text" size=25 name="ctc">
        </label></td>
        <br>
        <tr><td>ENTER LOCATION</td>



            <td><label>
                <input type="text" size=25 name="state">
            </label>
            </td></tr><br>


        <tr>
            <td><input type="submit" onclick="return check(this.form)" value="CALCULATE"></td>
        </tr>

</form>
</center>
</body>
</html>