
<html lang="en">
<head>
    <title>Power Pay</title>


</head>
<body>
<center
<h2>Welcome to Power Pay</h2>

<br>
<h2>Login Failed.............</h2>
<table>

    <form method="Post" action="login">
        <table>
            <tbody>
            <tr><td>EName :</td><td><label>
                <input type="text" name="E_Name">
            </label></td></tr><br>
            <tr><td> E_Code :</td><td><label>
                <input type="text" name="E_code">
            </label></td></tr><br>




            <tr><td><input type="submit" onclick="function check(form) {
            return undefined;
            }
            return check(this.form)" value="Submit"></td>
            </tr>


            </tbody>
        </table>
    </form>
</table>
</center>
</body>

</html>